[package]
cairo-version = "2.12.2"
name = "minesweeper"
version = "0.0.0"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[dependencies]
pixelaw = { path = "../../core/contracts" }
dojo = "1.7.1"
starknet = "2.12.2"

[dev-dependencies]
pixelaw_test_utils = { path = "../../core/pixelaw_test_utils" }
cairo_test = "2.12.2"
dojo_cairo_test = "1.7.1"

[tool.scarb]
allow-prebuilt-plugins = ["dojo_cairo_macros"]

[[target.starknet-contract]]
sierra = true
build-external-contracts = [
    "dojo::world::world_contract::world",
    "pixelaw::core::models::pixel::m_Pixel",
    "pixelaw::core::models::area::m_Area",
    "pixelaw::core::models::queue::m_QueueItem",
    "pixelaw::core::models::registry::m_App",
    "pixelaw::core::models::registry::m_AppName",
    "pixelaw::core::models::registry::m_CoreActionsAddress",
    "pixelaw::core::models::area::m_RTree",
    "pixelaw::core::events::e_QueueScheduled",
    "pixelaw::core::events::e_Notification",
    "pixelaw::core::actions::actions"
]
allowed-libfuncs-list.name = "experimental"

[tool.fmt]
sort-module-level-items = true
