name: ci-apps

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION: 1.80.1

jobs:
  cairofmt:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.12.2"
      - run: |
          make fmt_check

  apps-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.12.2"
      - uses: asdf-vm/actions/setup@v4
      - name: Install Dojo toolchain
        run: |
          curl -L https://install.dojoengine.org | bash
          asdf install
      - name: Run tests
        run: |
          make test_all
